---
title: Categories
layout: default
---

{% assign categories = site.articles | group_by: "category" | reverse %}
{% assign articles = site.articles | sort: "title" %}

{% for category in categories %}
    <h4>{% octicon file-directory %} {{ category.name }} ({{ category.size }})</h4>
    <p>
    {% for article in articles %}
    {% if article.category contains category.name %}
        <a href="{{ article.url }}"><strong style="float: left;">{{ article.title }}</strong></a>
        <small style="float: right;">{{ article.date | date_to_string: "ordinal", "US" }}</small> <br>
    {% endif %}
    {% endfor %}
    </p>
{% endfor %}
