a {
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: #4407e6;
    background: #eeeeee;
}

body {
    background-color: #f7fbfb;
    max-width: 720px;
    margin: auto;
}

h2 {
    margin-top: 4rem;
}

@media screen and (prefers-color-scheme: dark) {

    a {
        color: deepskyblue;
    }

    a:hover {
        color: dodgerblue;
        background: none;
    }

    body {
        background-color: rgb(35, 39, 45);
        color: rgb(223, 223, 224);
    }

    code {
        color: hotpink;
    }

}
