body {
  background-color: #586E75;
  color: #FDF6E3;
}

.container {
  max-width: 700px;
}

#img-profile {
  margin-bottom: 20px;
  margin-top: 20px;
}

a {
  color: #1DDFD4;
  text-decoration: none;
}

a:hover {
  color: #FDF6E3;
}

h1 {
  margin-bottom: 20px;
}

hr {
  border-color: #FDF6E3;
}

