/* Override Bootstrap
*******************************************************************************/

.container { max-width: 700px; }

/* Styles
*******************************************************************************/

a:link, a:visited {
  color: #0303B0;
  text-decoration: none;
}

a:hover {
  color: #0303B0;
  background: #EEEEEE;
  text-decoration: none;
}

a:active {
  color: #E00505;
  background: #EEEEEE;
  text-decoration: none;
}

b { font-weight: 600; }

body { background-color: #fffff8; }

h1 { font-weight: 400; }

h2 {
  border-bottom: 1px solid #ccc;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.6rem;
  margin-top: 3rem;
  padding-bottom: 10px;
}

#profile {
  height: 100px;
  margin-bottom: 20px;
  margin-top: 30px;
}

p, dl, ol, ul { font-size: 1.2rem; }

/* Styles for mobile devices
*******************************************************************************/

@media (max-width: 480px) {

  h2 { font-size: 1.4rem; }

  p, dl, ol, ul { font-size: 1.1rem; }

}
