.container {
    background-color: white;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    max-width: 740px;
    padding: 40px;
}

a:hover {
    color: #4407E6;
    background: #EEEEEE;
    text-decoration: none;
}

body {
    background-color: rgb(246, 248, 250);
}

h2 {
    margin-top: 60px;
}

img {
    max-width: 400px;
}

#notes-list {
    columns: 2 auto;
}

#profile-img {
    margin-top: 20px;
    width: 100px;
}

.large-img {
    max-width: 100%;
}

.center-img {
    margin: 0 auto;
    display: block;
}

@media (max-width: 480px) {

    img {
        max-width: 100%;
    }

}

/*--- Dark mode ---*/

@media screen and (prefers-color-scheme: dark) {

    .container {
        background-color: rgb(14, 17, 22);
        border-left: 1px solid rgb(34, 38, 44);
        border-right: 1px solid rgb(34, 38, 44);
    }

    a {
        color: deepskyblue;
    }

    a:hover {
        background: rgb(1, 4, 9);
        color: dodgerblue;
    }

    body {
        background-color: rgb(1, 4, 9);
        color: rgb(223, 223, 224);
    }

}