---
title: Tags
layout: default
---

{% assign tags = site.articles | map: "tags" | join: ","  | split: ","  | group_by: tag | sort: "name" %}
{% assign articles = site.articles | sort: "title" %}

{% for tag in tags %}
    <h4>{% octicon tag %} {{ tag.name }} ({{ tag.size }})</h4>
    <p>
    {% for article in articles %}
    {% if article.tags contains tag.name %}
        <a href="{{ article.url }}"><strong style="float: left;">{{ article.title }}</strong></a>
        <small style="float: right;">{{ article.date | date_to_string: "ordinal", "US" }}</small> <br>
    {% endif %}
    {% endfor %}
    </p>
{% endfor %}
