<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph -->
    <meta property="og:url" content="https://gavinw.me">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Gavin Wiggins">
    <meta property="og:description" content="Programming with science and engineering">
    <meta property="og:image" content="https://gavinw.me/assets/images/opengraph.jpg">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="styles.css">

    <title>Gavin Wiggins</title>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md">
    <h1><a href="/" style="color: inherit;">Gavin Wiggins</a></h1>

    <p style="font-weight: 500;">
        Notes &nbsp; / &nbsp;
        <a href="links.html">Links</a> &nbsp; / &nbsp;
        <a href="contact.html">Contact</a>
    </p>

    <hr class="mb-5">

    <h1>Notes</h1>

    <p>This page contains my notes on various programming and tech related topics. Recent notes are listed below. Subscribe to the <a href="https://gavinw.me/feed.json">JSON feed</a> or follow me on <a rel="me" href="https://fosstodon.org/@wigging">Mastodon</a> to get notified about new posts.</p>

    <h4>Recent Notes</h4>

    {% for post in posts | sort(attribute='iso_date', reverse=true) %}
    {% if loop.index0 < 20 %}
    <p class="py-2">
        <span class="float-start"><a href=" {{ post.link }}">{{ post.title }}</a></span>
        <span class="float-end d-none d-sm-block">{{ post.date }}</span>
    </p>
    {% endif %}
    {% endfor %}

    <p class="mt-5">See the sections below for an archive of all my notes. The notes are organized by topic therefore some notes may appear in several sections.</p>

    <h4>C++</h4>
    <ul>
        {% for post in posts | sort(attribute='title') %}
        {% if 'cpp' in post.tags %}
        <li><a href="{{ post.link }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    <h4>JavaScript</h4>
    <ul>
        {% for post in posts | sort(attribute='title') %}
        {% if 'javascript' in post.tags %}
        <li><a href="{{ post.link }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    <h4>Julia</h4>
    <ul>
        {% for post in posts | sort(attribute='title') %}
        {% if 'julia' in post.tags %}
        <li><a href="{{ post.link }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    <h4>Python</h4>
    <ul>
        {% for post in posts | sort(attribute='title') %}
        {% if 'python' in post.tags %}
        <li><a href="{{ post.link }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    <h4>Rust</h4>
    <ul>
        {% for post in posts | sort(attribute='title') %}
        {% if 'rust' in post.tags %}
        <li><a href="{{ post.link }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    <h4>Swift</h4>
    <ul>
        {% for post in posts | sort(attribute='title') %}
        {% if 'swift' in post.tags %}
        <li><a href="{{ post.link }}">{{ post.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>

    <br>

    <p class="text-center small my-5">
        Gavin Wiggins © 2025<br>
        Made on a <a href="https://www.apple.com/mac/">Mac</a> with <a href="https://github.com/wigging/genja">Genja</a>. Hosted on <a href="https://pages.github.com">GitHub Pages</a>.
    </p>
</div> <!-- end col-md -->
</div> <!-- end row -->
</div> <!-- end container -->
</body>
</html>
