<img class="mx-auto d-block" id="logo" alt="logo" src="../assets/logo.svg">
<nav class="nav flex-sm-column justify-content-center text-center">
  <a class="nav-link" href="../about.html">About</a>
  <a class="nav-link" href="../apps.html">Apps</a>
  <a class="nav-link" href="../code.html">Code</a>
  <a class="nav-link" style="color:rgb(160,0,0);" href="../index.html">Notes</a>
  <a class="nav-link" href="../presentations.html">Presentations</a>
  <a class="nav-link" href="../publications.html">Publications</a>
</nav>