<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <title>Gavin Wiggins</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md">
            <h1>{{ page.title }}</h1>
            <p>
                <img src="/assets/images/folder.svg" class="icon-sm"> {{ page.category }} &nbsp;
                <img src="/assets/images/tag.svg" class="icon-sm"> {{ page.tags | sort | join: ", "}}
            </p>
            <hr>
            {{ content }}
            <hr>
            <p><a href="/"><b>Back</b></a></p>
            <br>
        </div>
    </div>
</div>
</body>
</html>
